html,
body {
  width: 100%;
  height: 100%;
  font-family: MicrosoftYaHei;
}

/* 圆形 */
.border_circle {
  border-radius: 50%;
}

/* 圆角 */
.border_rounded {
  border-radius: 5px;
}

/* 背景图 */
.bg_img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

/* 边框及背景色 */
.bor_col {
  border: 1px solid #00FFFF;
  border-radius: 8px;
  background: rgba(10, 103, 209, 0.2);
}

/* 通用阴影容器 */
.shadow_box {
  box-shadow: 0px 3px 6px 0px rgba(58, 76, 130, 0.07), 0px 2px 17px 0px rgba(34, 47, 85, 0.05);
  border-radius: 10px;
}

.shadow {
  box-shadow: 0px 3px 6px 0px rgba(58, 76, 130, 0.07), 0px 2px 17px 0px rgba(34, 47, 85, 0.05);
}

/* 开发用 */
.dev {
  border: 1px solid #999;
}

/* 一行文本 */
.text-one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 1px上边框 */
.scale-1px {
  position: relative;
  border: none;
}

.scale-1px:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #ebedf0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* 1px下边框 */
.scale-1px-bottom {
  position: relative;
  border: none;
}

.scale-1px-bottom:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ebedf0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.outer-home-page {
  display: flex;
}

/* 【企业微信】【名片】在线咨询页面只展示了一半 改变外层iframe高度 */
#chatIframe {
  height: 100%;
}

iframe {
  height: 100%;
}

.box_border {
  border: 1px dashed #969ea8;
}

.white-text {
  color: #ffffff !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.chart-box-title {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 44px;
  line-height: 44px;
  background: linear-gradient(left, rgba(31, 162, 244, .6), rgba(31, 162, 244, 0));
}

.chart-box-title i {
  margin: 0 0 0 10px;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
  line-height: 29px;
  color: #00FFF8;
}

.chart-box-title .chart-label-dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(0, 255, 248, 1);
}

.more-text-btn {
  margin-top: 17px;
  text-align: right;
  font-size: 14px;
  font-family: Helvetica;
  color: rgba(251, 186, 24, 1);
  line-height: 17px;
  cursor: pointer;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.el-dialog {
  background-color: rgba(11, 21, 53, 1);
  box-shadow: 0 0 10px #0ff;
  .el-dialog__header {
    padding: 34px 0;
    font-weight: 400;
    text-align: center;
    .el-dialog__title {
      position: relative;
      font-size: 36px;
      font-family: PingFangSC-Regular;
      color: rgba(255, 255, 255, 1);
      line-height: 50px;
      &:after {
        content: '数据统计表';
      }
      &:before {
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 1px;
        content: '';
        background: linear-gradient(90deg, rgba(51, 242, 236, 0) 0%, rgba(50, 238, 235, 1) 56%, rgba(50, 238, 235, 0) 100%);
      }
    }
    .el-dialog__headerbtn {
      width: 38px;
      height: 38px;
      margin-top: 17px;
      margin-right: 20px;
      background: rgba(18, 175, 171, 1);
      border-radius: 50%;
      cursor: pointer;
      .el-dialog__close {
        color: #FFFFFF;
      }
    }
  }

}
.per-dialog-chart {
  width: 100%;
  height: 400px;
}
.fraze-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
